@model List<SoProd.Web.Models.TestResultViewModel>

@{
    ViewBag.Title = "Home Page";
}

<style>
    .tablerow:hover {
        cursor: pointer;
        background-color: lightgray
    }

    .result-box {
        display: flex;
        flex-direction: column;
        border: 3px solid lightblue;
        padding: 5px;
        text-align: center
    }

    .result-box-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .empty-results {
        margin: auto;
        padding: 10%;
        border: 1px solid lightgrey;
        text-align: center
    }

    .centered-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15%;
        text-align: center;
    }

    .filter-icon {
        margin: auto;
        color: skyblue;
    }

        .filter-icon:hover {
            cursor: pointer;
        }
</style>

<!-- Compare Section -->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Results Comparation
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload">
            </a>
        </div>
    </div>
    <div class="portlet-body" style="display: flex;justify-content:space-around">
        <div>
            <div class="mb-3" style="display: flex; gap: 5px">
                <i id="filter-compare" data-id="1" class="fa fa-filter filter-icon" data-toggle="modal" href="#basic-1"></i>
                <select id="select2-version-1" class="select2-version-1" style="width: 300px; margin-top: auto; margin-bottom: auto">
                    <option value="">Choose a version</option>
                </select>
                <input id="date-1" type="date" class="form-control" required />
            </div>
            <div id="result1" class="result-box">
                No data
            </div>
        </div>
        <div class="centered-box">
            <button type="button" id="btn-compare" class="btn btn-info compare">Compare</button>
            <div id="comparison-result"></div>
            <div id="result-text"></div>
        </div>
        <div>
            <div class="mb-3" style="display: flex; gap: 5px">
                <input id="date-2" type="date" class="form-control" required />
                <select id="select2-version-2" class="select2-version-2" style="width: 300px; margin-top: auto; margin-bottom: auto">
                    <option value="">Choose a version</option>
                </select>
                <i id="filter-compare" data-id="2" class="fa fa-filter filter-icon" data-toggle="modal" href="#basic-2"></i>
            </div>
            <div id="result2" class="result-box">
                No data
            </div>
        </div>
    </div>

    <!-- Modal for left filter -->
    <div class="modal fade" id="basic-1" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Test Results</h4>
                </div>
                <div class="modal-body">
                    <div id="div-list-test-results-1" style="height: 500px; overflow: auto; border: 2px solid lightblue ">
                        Empty List!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for right filter -->
    <div class="modal fade" id="basic-2" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Test Results</h4>
                </div>
                <div class="modal-body">
                    <div id="div-list-test-results-2" style="height: 500px; overflow: auto; border: 2px solid lightblue ">
                        Empty List!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section that contains the TestResults table -->
<div class="portlet box red mt-1">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Database Results
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload">
            </a>
        </div>
    </div>
    <div class="portlet-body" style="display: block;">
        <div class="mb-3">
            <select id="select2-request" class="select2-request" style="width: 35%;">
                <option value="">All Versions</option>
            </select>
        </div>
        <div class="table-responsive">
            <table id="results" class="table  table-advance">
                <thead>
                    <tr>
                        <th data-field="Id" class="no-sort column-id">ID</th>
                        <th data-filed="Identifier" class="no-sort">Identifier</th>
                        <th data-filed="StartDate" class="no-sort">Start Date</th>
                        <th data-filed="TimeEllapsed" class="no-sort">Time Ellapsed (ms)</th>
                        <th data-filed="Version" class="no-sort">Version</th>
                        <th data-filed="RequestsNumber" class="no-sort">Total Requests</th>
                        <th data-filed="AvgRequestTime" class="no-sort">Average Request Time (s)</th>
                        <th data-filed="RequestPercentage" class="no-sort">Ok Percentage</th>
                        <th data-filed="MaxRequestTime" class="no-sort">Max Request (s)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Charts section -->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Data Analysis
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <div style="display: flex; justify-content: space-between">
            <h3 class="panel-title" style="margin-top:auto; margin-bottom: auto">Selected Version</h3>
            <select id="select2-chart" class="select2-chart" style="width: 85%">
                <option value="">Choose a version</option>
            </select>
        </div>
        <div class="panel panel-default mt-4">
            <div class="panel-heading">
                <h3 class="panel-title mt-3" style="font-weight: bold; text-align: center">Time Ellapsed Chart</h3>
            </div>
            <div class="panel-body">
                <canvas id="myChartTime"></canvas>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="font-weight: bold; text-align: center">Accuracy Chart</h3>
            </div>
            <div class="panel-body">
                <canvas id="myChartAccuracy"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        //Current list of testExecutions being analised
        var currentResult = []
        var chartTime = null
        var chartAccuracy = null
        var chartE1 = null
        var chartE2 = null

        //#region select2 activation and fill
        var select = $('#select2-request');
        var select1 = $('#select2-version-1');
        var select2 = $('#select2-version-2');
        var selectChart = $('#select2-chart');

        select.select2();
        select1.select2();
        select2.select2();
        selectChart.select2();

        //Fill Selects
        $.ajax({
            url: '/Home/GetVersions',
            type: 'GET',
            success: function (response) {
                $.each(response.themes, function (index, item) {
                    select.append('<option>' + item + '</option>');
                });
                $.each(response.themes, function (index, item) {
                    select1.append('<option>' + item + '</option>');
                });
                $.each(response.themes, function (index, item) {
                    select2.append('<option>' + item + '</option>');
                });
                $.each(response.themes, function (index, item) {
                    selectChart.append('<option>' + item + '</option>');
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Error on loading data...")
            }
        });

        //Generate Default Table
        $.ajax({
            url: '/Home/GetTestResultsByVersion',
            data: { version : 'ANUBIS' },
            type: 'POST',
            success: function (response) {
                const data = response.data;

                const averageEllapsed = [];
                const timeEllapsed = [];
                const requestNumber = [];
                const requestsOk = [];

                for (let i = 0; i < data.length; i++) {
                    var startDateStr = data[i].StartDate.toString();

                    if (startDateStr.length > 0) {
                        var startDate = new Date(parseInt(startDateStr.substr(6)));
                        var formattedStartDate = startDate.toLocaleString().replace(',', '');
                        const dateParts = formattedStartDate.split(' ');
                        const date = dateParts[0];
                        const time = dateParts[1];
                        var formattedDate = date.split('/').slice(0, 2).join('/') + '\n' + time.split(':').slice(0, 2).join(':');
                    }

                    requestNumber.push({
                        x: formattedDate,
                        y: data[i].RequestsNumber
                    })

                    requestsOk.push({
                        x: formattedDate,
                        y: data[i].RequestsOK
                    })

                    averageEllapsed.push({
                        x: formattedDate,
                        y: data[i].AverageTimeEllapsed
                    });

                    timeEllapsed.push({
                        x: formattedDate,
                        y: data[i].TimeEllapsed
                    });
                }
                var ctx = document.getElementById('myChartTime').getContext('2d');

                chartTime = new Chart(ctx, {
                    type: 'line',
                    data: {
                        datasets: [{
                            label: "Time Ellapsed (s)",
                            data: timeEllapsed,
                            borderColor: 'rgb(132, 99, 255)',
                            fill: false
                        },{
                            label: "Average Time Ellapsed (s)",
                            data: averageEllapsed,
                            borderColor: 'rgb(48, 154, 255)',
                            fill: false
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                },
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        },
                        zoom: {
                            enabled: true,
                            mode: 'x',
                            sensitivity: 3,
                            speed: 10
                        }
                    }
                });

                var ctx2 = document.getElementById('myChartAccuracy').getContext('2d');

                chartAccuracy = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        datasets: [{
                                label: "Requests OK (Count)",
                                data: requestsOk,
                                borderColor: 'rgb(46, 253, 45)',
                                fill: false
                            }
                            ,{
                                label: "Total Requests (Count)",
                                data: requestNumber,
                                borderColor: 'rgb(235, 75, 46)',
                                fill: false
                            }
                        ]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                },
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        }
                    }
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Error on loading data...")
            }
        });

        if (chartTime instanceof Chart) {
            chartTime.destroy();
        }

        selectChart.on('change', function () {
            var version = $('#select2-chart option:selected').val()

            if (chartTime instanceof Chart) {
                chartTime.destroy();
            }

            if (chartAccuracy instanceof Chart) {
                chartAccuracy.destroy();
            }

            $.ajax({
                url: '/Home/GetTestResultsByVersion',
                data: { version: version },
                type: 'POST',
                success: function (response) {
                    const data = response.data;

                    const averageEllapsed = [];
                    const timeEllapsed = [];
                    const requestNumber = [];
                    const requestsOk = [];

                    for (let i = 0; i < data.length; i++) {
                        var startDateStr = data[i].StartDate.toString();

                        if (startDateStr.length > 0) {
                            var startDate = new Date(parseInt(startDateStr.substr(6)));
                            var formattedStartDate = startDate.toLocaleString().replace(',', '');
                            const dateParts = formattedStartDate.split(' ');
                            const date = dateParts[0];
                            const time = dateParts[1];
                            var formattedDate = date.split('/').slice(0, 2).join('/') + '\n' + time.split(':').slice(0, 2).join(':');
                        }

                        requestNumber.push({
                            x: formattedDate,
                            y: data[i].RequestsNumber
                        })

                        requestsOk.push({
                            x: formattedDate,
                            y: data[i].RequestsOK
                        })

                        averageEllapsed.push({
                            x: formattedDate,
                            y: data[i].AverageTimeEllapsed
                        });

                        timeEllapsed.push({
                            x: formattedDate,
                            y: data[i].TimeEllapsed
                        });
                    }

                    var ctx = document.getElementById('myChartTime').getContext('2d');

                    chartTime = new Chart(ctx, {
                        type: 'line',
                        data: {
                            datasets: [{
                                label: "Time Ellapsed (s)",
                                data: timeEllapsed,
                                borderColor: 'rgb(132, 99, 255)',
                                fill: false
                            }, {
                                label: "Average Time Ellapsed (s)",
                                data: averageEllapsed,
                                borderColor: 'rgb(48, 154, 255)',
                                fill: false
                            }]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                    }
                                }],
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                    },
                                    ticks: {
                                        beginAtZero: false
                                    }
                                }]
                            },
                            zoom: {
                                enabled: true,
                                mode: 'x',
                                sensitivity: 3,
                                speed: 10
                            }
                        }
                    });

                    var ctx2 = document.getElementById('myChartAccuracy').getContext('2d');

                    chartAccuracy = new Chart(ctx2, {
                        type: 'line',
                        data: {
                            datasets: [{
                                label: "Requests OK (Count)",
                                data: requestsOk,
                                borderColor: 'rgb(46, 253, 45)',
                                fill: false
                            }
                                , {
                                label: "Total Requests (Count)",
                                data: requestNumber,
                                borderColor: 'rgb(235, 75, 46)',
                                fill: false
                            }
                            ]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                    }
                                }],
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                    },
                                    ticks: {
                                        beginAtZero: false
                                    }
                                }]
                            }
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error on loading data...")
                }
            });
        })

        //#endregion

        //#region TestResults Table
        //Initialize TestResults Table with paginate
        TableInit('#results', {
            "serverSide": true,
            "ajax": function (data, callback, settings) {
                var totalColLen = $("#results").DataTable().columns()[0].length;
                data.countColumns = totalColLen;

                performSearch(data, function (resp, listIds, headers) {
                    respData = resp.data
                    var responseData = WriteTableColumns(resp.data);

                    resp.data = responseData;
                    callback(resp);
                });
            },
            "language": dataTableFR,
            "aaSorting": [[0, 'desc']],
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $(nRow).attr('id', "tablerow");
                $(nRow).attr('data-id', aData[0])


                $(nRow).click(function (e) {
                    var dataId = $(this).data('id');
                    GetExecutions($(nRow), dataId);
                })
            },
            "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
            "iDisplayLength": 20,
            "bDeferRender": true,
            "bautoWidth": false,
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });

        //Get data to TestResults table
        function performSearch(originalData, callback) {
            //var searchData = getDomainsSearchFilters();

            //Metronic.blockUI({
            //    target: '#results',
            //    overlayColor: '#000', overlayOpacity: '0.8',
            //    centerY: true,
            //    centerX: true,
            //    animate: true
            //});

            $.ajax({
                url: "/Home/GetResultsJson",
                method: "POST",
                data: {
                    dtFilters: originalData
                },
                error: function () {
                    alert("error");
                    /*Metronic.unblockUI('#results');*/
                },
                success: function (data) {
                    var _rows = [];
                    //Metronic.unblockUI('#results');
                    if (data.error) {
                        showWarning("Error Validating", "Please check form inputs and try again...");
                    }
                    else {
                        $.each(data.aaData, function (a, b) {
                            _rows.push(b);
                        });

                        //currentSearchTotal = data.iTotal;
                        if (callback) {
                            callback({
                                "draw": data.draw,
                                "recordsTotal": data.iTotal,
                                "recordsFiltered": data.iTotal,
                                "data": _rows
                            });
                        }
                    }
                }
            });
        }

        //Search Filter for TestResults (TO DO)
        function getDomainsSearchFilters() {
            var data = {};
            $("#domainsFiltersUL li").each(function () {
                data[$(this).attr('data-label')] = $(this).attr('data-val');
            });

            return data;
        }

        //Fill TestResults table columns
        function WriteTableColumns(alldata) {
            var __data = [];

            $.each(alldata, function (indexRow, data) {
                var _data = [];
                var startPos = 0;

                for (var i = startPos; i <= 8; i++) {
                    switch (i) {
                        case 0:
                            _data.push(data.Id);
                            break;
                        case 1:
                            _data.push(data.Identifier)
                            break;
                        case 2:
                            var startDateStr = data.StartDate.toString();

                            if (startDateStr.length > 0) {
                                var startDate = new Date(parseInt(startDateStr.substr(6)));
                                var formattedStartDate = startDate.toLocaleString().replace(',', '');
                            }

                            _data.push(formattedStartDate)
                            break;
                        case 3:
                            _data.push(data.TimeEllapsed)
                            break;
                        case 4:
                            if (data.Version == null)
                                data.Version = "N/A"

                            _data.push(data.Version)
                            break;
                        case 5:
                            _data.push(data.RequestsNumber)
                            break;
                        case 6:
                            if (data.AvgRequestTime == null)
                                data.AvgRequestTime = "N/A"

                            _data.push(data.AvgRequestTime)
                            break;
                        case 7:
                            if (data.RequestPercentage == 0 && data.RequestsNumber == 0)
                                data.RequestPercentage = "N/A"
                            else if (data.RequestPercentage == 0 && data.RequestsNumber != 0)
                                data.RequestPercentage = "0 %"
                            else
                                data.RequestPercentage = data.RequestPercentage + " %"

                            _data.push(data.RequestPercentage)
                            break;
                        case 8:
                            if (data.MaxRequestTime == null)
                                data.MaxRequestTime = "N/A"

                            _data.push(data.MaxRequestTime)
                            break;
                        default:
                            break;
                    }
                }
                __data.push(_data);

            });
            return __data;
        }

        //Get TestResult Executions
        function GetExecutions(nRow, id) {
            if ($(`#executions-stats-${id}`).length) {
                $(`#executions-stats-${id}`).remove()

            }
            else {
                $.ajax({
                    url: "/Home/GetResultExecutions/" + id,
                    type: "GET",
                    success: function (data) {
                        $("[id^='executions-stats-']").remove()

                        if (data.results.length > 0) {
                            var maxAverageTimes = [];
                            var maxRequestTimes = [];
                            var maxRequestPercentage = [];

                            var labels = [];
                            data.results.forEach(function (item) {
                                maxAverageTimes.push(item.AvgRequestTime);
                                maxRequestTimes.push(item.MaxRequestTime);
                                maxRequestPercentage.push(item.RequestPercentage);
                                labels.push(item.Endpoint);
                            });

                            $(nRow).after(`
                                <tr id="executions-stats-${id}" style="align-self: center">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="5">
                                        <table class="table border">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight: bold;">Endpoint</th>
                                                    <th style="font-weight: bold;">Total Requests</th>
                                                    <th style="font-weight: bold;">OK Response Percentage</th>
                                                    <th style="font-weight: bold;">Average Request Time(s)</th>
                                                    <th style="font-weight: bold;">Max Request Time(s)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div class="panel panel-default mt-4">
                                            <div class="panel-heading">
                                                <h3 class="panel-title mt-3" style="font-weight: bold; text-align: center">Analysis charts</h3>
                                            </div>
                                            <div class="panel-body">
                                                <canvas id="myChart1"></canvas>
                                                <canvas id="myChart2"></canvas>
                                            </div>
                                        </div>
                                    </td>
                                </tr>`)

                            $.each(data.results, function (index, item) {
                                var tr = $('<tr>');
                                tr.append($('<td>').text(item.Endpoint));
                                tr.append($('<td>').text(item.RequestsNumber));
                                tr.append($('<td>').text(item.RequestPercentage + " %"));
                                tr.append($('<td>').text(item.AvgRequestTime));
                                tr.append($('<td>').text(item.MaxRequestTime));

                                $(`#executions-stats-${id} tbody`).append(tr)
                            });

                            var ctx = document.getElementById('myChart1').getContext('2d');
                            chartE1 = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Average Request Time (s)',
                                        data: maxAverageTimes,
                                        backgroundColor: 'rgba(54, 235, 65, 0.2)',
                                        borderColor: 'rgba(54, 235, 65, 1)',
                                        borderWidth: 1
                                    },
                                    {
                                        label: 'Max Request Time (s)',
                                        data: maxRequestTimes,
                                        backgroundColor: 'rgba(235, 45, 65, 0.2)',
                                        borderColor: 'rgba(235, 45, 65, 1)',
                                        borderWidth: 1
                                    },
                                    //{
                                    //    label: 'Resquests OK (%)',
                                    //    data: maxRequestPercentage,
                                    //    backgroundColor: 'rgba(54, 65, 235, 0.2)',
                                    //    borderColor: 'rgba(54, 65, 235, 1)',
                                    //    borderWidth: 1
                                    //}
                                    ]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });

                            var ctx2 = document.getElementById('myChart2').getContext('2d');
                            chartE2 = new Chart(ctx2, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Resquests OK (%)',
                                        data: maxRequestPercentage,
                                        backgroundColor: 'rgba(54, 65, 235, 0.2)',
                                        borderColor: 'rgba(54, 65, 235, 1)',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });

                            currentResult = data.results
                        }
                        else {
                            $(nRow).after(`
                                <tr id="executions-stats-${id}" style="align-self: center">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="5" >
                                        <div class="empty-results">
                                            There are no executions made in this test!
                                        </div>
                                </tr>`)

                            currentResult = []
                        }
                    },
                    error: function (jqXHR) {
                        console.log(jqXHR.responseText)
                        alert("Error retrieving test results.");
                    }
                });
            }
        };

        //Update Table on select change
        $('#select2-request').on('change', function () {
            var selectedValue = $(this).val();

            $.ajax({
                url: '/Home/SearchResults?version=' + selectedValue,
                type: 'GET',
                data: { searchTerm: selectedValue },
                success: function (response) {
                    var tbody = $('#results tbody');
                    tbody.empty();

                    $.each(response.results, function (index, item) {
                        var tr = $('<tr>').addClass('tablerow').attr('data-item-id', item.Id);
                        tr.append($('<td>').text(item.Id));
                        tr.append($('<td>').text(item.Identifier));

                        var startDateStr = item.StartDate.toString();

                        if (startDateStr.length > 0) {
                            var startDate = new Date(parseInt(startDateStr.substr(6)));
                            var formattedStartDate = startDate.toLocaleString().replace(',', '');
                            tr.append($('<td>').text(formattedStartDate));
                        }

                        tr.append($('<td>').text(Math.round(item.TimeEllapsed, 4)));
                        tr.append($('<td>').text(item.Version));
                        tr.append($('<td>').text(item.RequestsNumber));
                        tr.append($('<td>').text(item.AvgRequestTime));
                        tr.append($('<td>').text(item.RequestPercentage));
                        tr.append($('<td>').text(item.MaxRequestTime));
                        tbody.append(tr);
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error on loading data...');
                }
            });
        });
        //#endregion

        //#region Compare
        /*TO DO
         * BUTTONS (SAVE AND CANCEL)
         * CHECK ALL AND UNCHECK ALL
        */
        //#region Filter update on Version and data selection
        $('#select2-version-1, #date-1').on('change', function () {
            var version1 = $('#select2-version-1 option:selected').val();
            var date1 = $("#date-1").val();

            if (!date1)
                date1 = '0001-01-01'

            $.ajax({
                url: '/Home/GetDataToJson',
                type: 'POST',
                data: { version: version1, date: date1 },
                success: function (response) {
                    var listSection = $('#div-list-test-results-1')
                    listSection.empty()

                    var selectAllDiv = '<div style="display: flex; margin-left: 0.5em; gap: 0.25em"><input type="checkbox" id="check-all-1" class="check-all-1" style="margin-top: auto;margin-bottom: auto;" checked><a id="check-all-text-1">Select All</a></div>'
                    var list = '<ul id="list-filter-1" style="list-style: none;">'

                    if (response.testResults.length > 0) {
                        $.each(response.testResults, function (index, item) {
                            var startDateStr = item.StartDate.toString();

                            if (startDateStr.length > 0) {
                                var startDate = new Date(parseInt(startDateStr.substr(6)));
                                item.startDate = startDate.toLocaleString().replace(',', '');
                            }

                            list = list + `<li style="display: flex; gap: 5px">
                                    <input type="checkbox" class="filter-checkbox-1" id="filter-checkbox-1" data-id="${item.Id}" checked/>${item.Version} - ${item.startDate} (TestDefinitionId: ${item.TestDefinitionId})</li>`
                        });
                        list = list + '</ul>'

                        listSection.append(selectAllDiv + list)

                        $('.check-all-1').click(function () {
                            var isChecked = $('.check-all-1').prop('checked');

                            $('.filter-checkbox-1').prop('checked', isChecked);
                        });

                        $('#check-all-text-1').click(function () {
                            var isChecked = $('.check-all-1').prop('checked');

                            $('.check-all-1').prop('checked', !isChecked);
                            $('.filter-checkbox-1').prop('checked', !isChecked);
                        });

                        $('.filter-checkbox-1').click(function () {
                            $('.check-all-1').prop('checked', false);
                        });
                    }
                    else {
                        listSection.empty()
                        listSection.append(`No results found!`)
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Erro")
                    console.log(jqXHR);
                }
            });
        });

        $('#select2-version-2, #date-2').on('change', function () {
            var version2 = $('#select2-version-2 option:selected').val();
            var date2 = $("#date-2").val();

            if (!date2)
                date2 = '0001-01-01'

            $.ajax({
                url: '/Home/GetDataToJson',
                type: 'POST',
                data: { version: version2, date: date2 },
                success: function (response) {
                    var listSection = $('#div-list-test-results-2')
                    listSection.empty()

                    var selectAllDiv = '<div style="display: flex; margin-left: 0.5em; gap: 0.25em"><input type="checkbox" id="check-all-2" class="check-all-2" style="margin-top: auto;margin-bottom: auto;" checked><a id="check-all-text-2">Select All</a></div>'
                    var list = '<ul id="list-filter-2" style="list-style: none;">'

                    if (response.testResults.length > 0) {
                        $.each(response.testResults, function (index, item) {
                            var startDateStr = item.StartDate.toString();

                            if (startDateStr.length > 0) {
                                var startDate = new Date(parseInt(startDateStr.substr(6)));
                                item.startDate = startDate.toLocaleString().replace(',', '');
                            }

                            list = list + `<li style="display: flex; gap: 5px">
                                    <input type="checkbox" class="filter-checkbox-2" id="filter-checkbox-2" data-id="${item.Id}" checked/>${item.Version} - ${item.startDate} (TestDefinitionId: ${item.TestDefinitionId})</li>`
                        });
                        list = list + '</ul>'

                        listSection.append(selectAllDiv + list)

                        $('.check-all-2').click(function () {
                            var isChecked = $('.check-all-2').prop('checked');

                            $('.filter-checkbox-2').prop('checked', isChecked);
                        });

                        $('#check-all-text-2').click(function () {
                            var isChecked = $('.check-all-2').prop('checked');

                            $('.check-all-2').prop('checked', !isChecked);
                            $('.filter-checkbox-2').prop('checked', !isChecked);
                        });

                        $('.filter-checkbox-2').click(function () {
                            $('.check-all-2').prop('checked', false);
                        });
                    }
                    else {
                        listSection.empty()
                        listSection.append(`No results found!`)
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Erro")
                    console.log(jqXHR);
                }
            });
        });
        //#endregion

        //Compare button
        $("#btn-compare").click(function () {
            var version1 = $('#select2-version-1 option:selected').val();
            var version2 = $('#select2-version-2 option:selected').val();
            var comparelist1 = [];
            var comparelist2 = [];

            $('#list-filter-1 input[type="checkbox"]').each(function () {
                if ($(this).is(':checked')) {
                    comparelist1.push($(this).data('id'))
                }
            });

            $('#list-filter-2 input[type="checkbox"]').each(function () {
                if ($(this).is(':checked')) {
                    comparelist2.push($(this).data('id'))
                }
            });

            if (version1 != "" && version2 != "") {
                $.ajax({
                    url: '/Home/Compare',
                    type: 'POST',
                    data: { listIds1: comparelist1, listIds2: comparelist2 },
                    success: function (response) {
                        const comparison1 = response.resultComparison.comparison1;
                        const comparison2 = response.resultComparison.comparison2;

                        const result1 = document.querySelector('#result1');
                        const result2 = document.querySelector('#result2');

                        console.log(response)

                        if (comparison1.TestsCount != 0) {
                            const newHtml1 = `
                                        <div class="result-box-line">
                                            <label>Request Average</label>
                                            <label id="c1-avg">${comparison1.AvgRequest.toFixed(2)}</label>
                                        </div>
                                        <div class="result-box-line">
                                            <label>Total Requests</label>
                                            <label id="c1-total">${comparison1.TotalRequest}</label>
                                        </div>
                                        <div class="result-box-line">
                                            <label>Users Number</label>
                                            <label id="c1-users">${comparison1.UsersNumber}</label>
                                        </div>
                                        <div class="result-box-line">
                                            <label>Requests OK (%)</label>
                                            <label id="c1-ok">${comparison1.PercentRequest.toFixed(2)}</label>
                                        </div>
                                        <div class="result-box-line">
                                            <label>Max Request Time (s)</label>
                                            <label id="c1-max">${comparison1.MaxRequest.toFixed(2)}</label>
                                        </div>
                                        <div class="result-box-line">
                                            <label>Tests Number</label>
                                            <label id="c1-tests">${comparison1.TestsCount}</label>
                                        </div>`;

                            result1.innerHTML = newHtml1;
                        }
                        else {
                            const newHtml1 = `This version has no tests on this date `
                            document.querySelector('#result-text').innerHTML = ""

                            if (document.querySelector('#icon-result') != null)
                                document.querySelector('#icon-result').hidden = true

                            result1.innerHTML = newHtml1;
                        }

                        if (comparison2.TestsCount != 0) {

                            const newHtml2 = `
                                        <div class="result-box-line">
                                            <label>Request Average Time (s)</label>
                                            <label id="c2-avg">${comparison2.AvgRequest.toFixed(2)}</label>
                                        </div>
                                        <div class="result-box-line">
                                            <label>Total Requests</label>
                                            <label id="c2-total">${comparison2.TotalRequest}</label>
                                        </div>
                                        <div class="result-box-line">
                                            <label>Users Number</label>
                                            <label id="c2-users">${comparison2.UsersNumber}</label>
                                        </div>
                                        <div class="result-box-line">
                                            <label>Requests OK (%)</label>
                                            <label id="c2-ok">${comparison2.PercentRequest.toFixed(2)}</label>
                                        </div>
                                        <div class="result-box-line">
                                            <label>Max Request Time (s)</label>
                                            <label id="c2-max">${comparison2.MaxRequest.toFixed(2)}</label>
                                        </div>
                                        <div class="result-box-line">
                                            <label>Tests Number</label>
                                            <label id="c2-tests">${comparison2.TestsCount}</label>
                                        </div>
                                    `;

                            result2.innerHTML = newHtml2;
                        }
                        else {
                            const newHtml2 = `This version has no tests on this date `
                            document.querySelector('#result-text').innerHTML = ""
                            document.querySelector('#icon-result').hidden = true

                            result2.innerHTML = newHtml2;
                        }

                        if (comparison1.TestsCount != 0 && comparison2.TestsCount != 0) {
                            let points1 = 0
                            let points2 = 0

                            if (comparison1.AvgRequest < comparison2.AvgRequest) {
                                document.querySelector('#c1-avg').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else if (comparison1.AvgRequest > comparison2.AvgRequest) {
                                document.querySelector('#c2-avg').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            if (comparison1.TotalRequest > comparison2.TotalRequest) {
                                document.querySelector('#c1-total').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else if (comparison1.TotalRequest < comparison2.TotalRequest) {
                                document.querySelector('#c2-total').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            if (comparison1.UsersNumber > comparison2.UsersNumber) {
                                document.querySelector('#c1-users').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else if (comparison1.UsersNumber < comparison2.UsersNumber) {
                                document.querySelector('#c2-users').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            if (comparison1.PercentRequest > comparison2.PercentRequest) {
                                document.querySelector('#c1-ok').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else if (comparison1.PercentRequest < comparison2.PercentRequest) {
                                document.querySelector('#c2-ok').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            if (comparison1.MaxRequest < comparison2.MaxRequest) {
                                document.querySelector('#c1-max').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else if (comparison1.MaxRequest > comparison2.MaxRequest) {
                                document.querySelector('#c2-max').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            if (comparison1.TestsCount > comparison2.TestsCount) {
                                document.querySelector('#c1-tests').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else if (comparison1.TestsCount < comparison2.TestsCount) {
                                document.querySelector('#c2-tests').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            var arrow = null

                            if (points1 > points2) {
                                arrow = '<icon id="icon-result" class="fa fa-arrow-circle-o-left" style="color: lightskyblue; font-size: 5em;" ></icon >'
                                document.querySelector('#result-text').innerHTML = 'seems to be the better version!'
                            }
                            else if (points1 == points2) {
                                document.querySelector('#result-text').innerHTML = 'both seem to have the similar results!'
                            }
                            else {
                                arrow = '<icon id="icon-result" class="fa fa-arrow-circle-o-right" style="color: lightskyblue; font-size: 5em;"></icon>'
                                document.querySelector('#result-text').innerHTML = 'seems to be the better version!'
                            }

                            document.querySelector('#comparison-result').innerHTML = arrow

                            if (document.querySelector('#icon-result') != null)
                                document.querySelector('#icon-result').hidden = false
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Erro")
                        console.log(jqXHR);
                    }
                });
            }
            else
                alert("Missing fields!")
        })

        //#region Executions Charts
            //#endregion
        //#endregion

        //#region Unused Code
            //Initialize TableInit on executions table
            //$(document).ready(function () {
            //    TableInit('#results');
            //});
        //#endregion

    </script>
}